.generated-response {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 3px solid black;
    padding: 18px;
    margin: 25px auto;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 1);
}
