.footer {
    width: 100%;
    padding: 0.7rem 0;
    text-align: center;
    background: #f7f7f7;
    color: #222;
    font-size: 0.95rem;
    position: fixed;
    left: 0;
    bottom: 0;
    border-top: 1px solid #eee;
}

.footer-copyright {
    display: inline-block;
    vertical-align: middle;
}